/**
* {
    margin: 0;
    padding: 0;
  }
  body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
  }
  a{
    text-decoration: none;
  }
  .cinzel-decorative-bold{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  header, main {
    margin: 0 4%;
  }

  button {
    height: 40px;
    width: 77px;
    background-color: #18A0FB;
    color: #fff;
    border: none;
    border-radius: 6px 0px 0px 6px;
  }
  input{
    border: 1px solid #18A0FB;
    border-radius: 0px 6px 6px 0px;
    height: 38px; 
    width: 233px;
  }
  #hr1{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #6de3ea;
  } **/